<%= simple_form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%=ActsAsTaggableOn::Tag.all.collect(&:name).join(", ") %>
  <p>
  <div class="field">
    <%= f.label :group_list, "Groups (separated by commas)" %><br />
    <%= f.text_field :group_list %>
  </div>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.input :language_level_code, :collection => ["A1", "A2", "B1", "B2", "C1", "C2"] %>
  </div>
  <div class="field">
    <%= f.input :language_classification, :collection => ["LF","LN","LP","LY","LZ","ZZ","TN"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
