<p id="notice"><%= notice %></p>
<p>
<b>Number:</b>
<%= @student.number %>
</p>

<p>
<b>First name:</b>
<%= @student.first_name %>
</p>

<p>
<b>Last name:</b>
<%= @student.last_name %>
</p>

<p>
<b>Level:</b>
<%= @student.level %>
</p>

<p>
<b>Language classification:</b>
<%= @student.language_classification %>
</p>

<p>
<b> Assesments</b>
 <%= link_to "Add Assesment", new_student_assessment_path(@student) %>
<ul>
  <% for assessment in @student.assessments.order("assessed_at DESC") %>
    <li><%= assessment.name %> Grade: <%= assessment.grade %> on <%= assessment.assessed_at.to_s(:medium) %></li>
  <% end %>
</ul>

</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
