<h3>Home</h3>
<h4><%=link_to 'Student Group Wizard', student_wizzard_entries_path %></h4>
<% if current_user.admin %>
<h4>Administration</h4>
  <%=link_to "Admin Site", "/admin" %></br>
  <%=link_to "Reports", reports_path %></br>
  <%=link_to "Add Student", new_student_path %>
  <%=link_to "Show Students", students_path %> </br>
  <%=link_to "Add Task", new_task_path %></br>
  <%=link_to "Add Category", new_category_path %></br>
<% end %>
